RAYARRAY_processing/out
RAYARRAY_processing/out/*
RAYARRAY_processing/out/RAYARRAY_processing$Node.class
RAYARRAY_processing/out/RAYARRAY_processing.class
RAYARRAY_processing/out/source/RAYARRAY_processing.java
